<%- include('partials/header',{title:'My Purchases',user:locals.user}) %>

<h1>My eSIM Purchases</h1>

<ul>
  <% purchases.forEach(p => { %>
    <li>
      <strong><%= p.offerId %></strong> - Status: <%= p.status %>
      [ <a href="/status/<%= p.transactionId %>">Status</a> ]
      [ <a href="/qrcode/<%= p.transactionId %>">QR</a> ]
    </li>
  <% }) %>
</ul>

<%- include('partials/footer') %>
